#wrapper{
	width: 1150px;
	overflow: hidden;
	margin: 0 auto;
	margin-top: 30px;
}

#title{
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 50px;
	width: 100%;
	text-align: left;
}

#settings{
	float: left;
	width: 450px;
	padding-right: 10px;
}

#canvas-div{
	float: left;
	width: 700px;
	overflow: hidden;
	margin-bottom: 20px;
}

#discanvas{
	float: left;
	border: 2px
	solid #000000;
	border-radius: 5px;
}

.rocket-pic {
	margin-right: 60px;
	margin-left: 60px;
}

/*
	Rocket Config CSS
*/

#rocket-config{
	width: 100%;
	overflow: hidden;
}

#rocket-name{
	width: 300px;
}

hr {
	margin-top: 5px !important;
	margin-bottom: 5px !important;
}

.table {
    border-bottom:0px !important;
}
.table th, .table td {
    border: 1px !important;
    padding: 0 !important;
    margin: 0 !important;
}
.fixed-table-container {
    border: 0px !important;
}

.inline {
	display: inline-block;
	margin: 5px 5px 5px 0;
}

.arrow {
	float: left;
	margin-right: 20px;
	height: 40px;
	width: 30px;
}

tr {
	white-space:nowrap;
}

td {
	height: 40px !important;
	vertical-align: middle !important;
}

.table p{
	display: inline-block;
}

.text-center {
	text-align: center;
}








