body {
	margin: 0;
	background-color: #000;
}

#progress-wrapper{
	margin: 25% auto;
	width: 50%;
}

#progress-wrapper p {
	margin: 5 auto;
	text-align: center;
	color: #a0a0a0;
}

#progress-container{
	height: 20px;
	background-color: #000;
	border-radius: 4px;
}

#progress {
	width: 0px;
	height: 20px;
	background-color: #4286f4;
	border-radius: 4px;
}