
#wrapper{
	width: 1200px;
	overflow: hidden;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

#canvas-div{
	width: 700px;
	margin: 0 auto;
}

h5, h3{
	display: inline;
	margin-right: 7px;
}

#info {
	margin-top: 10px !important;
	width: 700px;
	margin: 0 auto;
}

pre {
	width: 50%;
	margin: 0 auto !important;
}

p{
	text-align:justify
}